.a {
    display: flex;
    justify-content: center;
    margin-top: 0.7em;
}

.a-each {
    border: 2px solid rgb(9, 9, 9);
    border-radius: 50%;
    width: 5.2em;
    height: 5.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://images.unsplash.com/photo-1516041774595-cc1b7969480c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80');
    cursor: pointer;

    /* NO HIGHLIGHTING IN BROWSER */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    /* NO HIGHLIGHTING IN BROWSER */
}

.a-num {
        font-size: 3em;
        color: rgb(255, 255, 255);
        font-family: 'Quicksand', sans-serif;
        font-weight: bold;
}